<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/singleCandidate.css">
    <title>Document</title>
</head>
<body>
    <div id="mainContainer">
        <button class="homeLink" type="button" >
            <a href="/candidate" >Back to Candidate Scheduling</a>
        </button>
        <h1>See Your openings</h1> 
        <div id="slots2">
            {{range .Candidate}}
            <div>
                    {{.Name}}<br>
                    {{.Date}}<br>
                    {{.Hour}}
                
            </div>
            {{end}}
        </div>

        <h2>Choose a Interviewer Based On Your Scheduling choice</h2>
        
        <div id="interviewers">
            <form  method="post">
                <select name="interviewer" id="interviewer" required>
                    {{range .Interviewers}}
                        <option value={{.}}>
                            {{.}}
                        </option>
                    {{end}}
                </select>
                <input type="submit">
            </form>
            
        </div>

        <button class="homeLink" type="button" >
            <a href="/" role="button">Home</a>
        </button>

        
    
    </div>
</body>
</html>